.communication-main {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--default-colour-10);

  color: var(--default-colour-15);
  font-family: var(--font-family);
  letter-spacing: 2px;

  flex-grow: 1;
}

.communicaiton-main_messages {
  width: 100%;
  height: 100%;

  /* background: var(--default-colour-11); */
  background: url("../../../../resources/bground.jpg");
  background-size: cover;
  background-attachment: fixed;

  overflow-y: scroll;

  flex-grow: 1;
}

.communication-main_send {
  position: relative;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.communication-main-input {
  height: 30px;
  width: 80%;

  background-color: var(--default-colour-15);

  font-size: 20px;
  letter-spacing: 1px;

  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  resize: none;

  white-space: normal;
  text-align: left;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: left;

  text-align: left;
}

.communication-main-button {
  height: 35px;
  font-family: var(--font-family);
  letter-spacing: 2px;
  font-weight: 800;

  border-radius: 0 5px 5px 0;

  outline: none;
  border: none;

  background-color: var(--default-colour-3);
  color: var(--default-colour-15);

  cursor: pointer;
  transition: 0.5s;
}

.communication-main-button:hover {
  background-color: var(--default-colour-2);
  transition: 0.5s;
}

.message_username {
  font-size: 15px;
  margin: -2px 0;
  padding: 0 40px;
  text-align: left;
  color: var(--default-colour-14);
}

.message_sender {
  text-align: right;
}

.message-box {
  width: auto;
  margin: 0.2em;

  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.sender {
  justify-content: flex-end;
  flex-direction: row;
}

.message {
  width: auto;
  min-width: 30px;
  max-width: 500px;
  min-height: 30px;

  padding: 0.3em 0.7em;

  border-radius: 5px 5px 5px 1px;

  background-color: var(--default-colour-13);

  display: block;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;

  overflow: hidden;

  text-align: center;
  text-justify: inter-character;

  color: var(--default-colour-15);
  font-family: var(--message-font-family);
  font-weight: 100;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message-alert {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--default-colour-14);
  text-align: center;
  font-size: 10px;
}

.message h2,
.message p {
  margin: 2px 0;
  margin-left: auto;
  margin-right: auto;
}

.message p {
  font-weight: 800;
}

.sender .message {
  border-radius: 5px 5px 1px 5px;
  background-color: var(--default-colour-3);
}

.message-picture {
  margin: 0 0.2em;
  width: 30px;
  height: 30px;

  border-radius: 50%;

  object-fit: cover;
  object-position: 50% 50%;
}

.message-picture_dummy {
  margin: 0 0.2em;
  width: 30px;
  height: 30px;

  color: var(--default-colour-15);
  border-radius: 50%;
  border: solid 1px var(--default-colour-10);
}

.message-picture_empty {
  margin: 0 0.2em;
  width: 30px;
  height: 30px;
}

.communication-main_loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--default-colour-3);
}

.communication-main_loading .rotating {
  font-size: 50px;
}

@media screen and (max-width: 900px) {
  .message {
    max-width: 180px;
    font-size: 13px;
  }

  .communication-main-input {
    font-size: 12px;
  }

  .message-alert {
    font-size: 8px;
  }

  .communicaiton-main_messages {
    background: var(--default-colour-11);
  }
}

.communication-main_messages-loadMoreCatcher {
  height: 20px;
  color: var(--default-colour-15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages-scroll_to_bottom {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -40px;
  left: 0;
  right: 0;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-size: 30px;
  background-color: var(--default-colour-3);
  color: var(--default-colour-15);
  animation: fade-in 0.5s;
  transition: 0.5s;
}

.messages-scroll_to_bottom:hover {
  background-color: var(--default-colour-1);
  transform: scale(1.1);
  transition: 0.5s;
}
