.communication-main {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--default-colour-12);

  font-family: var(--font-family);
  letter-spacing: 2px;

  flex-grow: 1;
}

.communicaiton-main_messages {
  width: 100%;
  height: 100%;

  background: var(--default-colour-13);

  overflow-y: scroll;

  flex-grow: 1;
}

.communication-main_send {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.communication-main-input {
  height: 30px;
  width: 80%;

  background-color: var(--default-colour-15);

  font-size: 20px;
  letter-spacing: 1px;

  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  resize: none;

  white-space: normal;
  text-align: left;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: left;

  text-align: left;
}

.communication-main-button {
  height: 35px;
  font-family: var(--font-family);
  letter-spacing: 2px;
  font-weight: 800;

  border-radius: 0 5px 5px 0;

  outline: none;
  border: none;

  background-color: var(--default-colour-3);
  color: var(--default-colour-15);

  cursor: pointer;
  transition: 0.5s;
}

.communication-main-button:hover {
  background-color: var(--default-colour-2);
  transition: 0.5s;
}

.message-box {
  width: auto;
  margin: 0.2em;

  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.sender {
  justify-content: flex-end;
  flex-direction: row;
}

.message {
  width: auto;
  min-width: 30px;
  max-width: 300px;
  min-height: 35px;

  padding: 0.3em;

  border-radius: 5px 5px 5px 1px;

  background-color: var(--default-colour-14);

  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;

  text-align: center;
  text-justify: inter-character;
}

.message h2,
.message p {
  margin: 2px 0;
}

.message p {
  font-weight: 800;
}

.sender .message {
  border-radius: 5px 5px 1px 5px;
  background-color: var(--default-colour-1);
}

.message-picture {
  margin: 0 0.2em;
  width: 30px;
  height: 30px;

  border-radius: 50%;

  object-fit: cover;
  object-position: 50% 50%;
}

.message-picture_dummy {
  margin: 0 0.2em;
  width: 30px;
  height: 30px;

  color: var(--default-colour-15);
  border-radius: 50%;
  border: solid 1px var(--default-colour-10);
}

.communication-main_loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.communication-main_loading .rotating {
  font-size: 50px;
}

@media screen and (max-width: 900px) {
  .message {
    max-width: 180px;
    font-size: 10px;
  }

  .communication-main-input {
    font-size: 12px;
  }
}
