.navbar_main {
  width: 100%;
  height: 60px;

  box-sizing: border-box;

  padding: 0 1.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--default-colour-10);
  -webkit-box-shadow: 0px 2px 12px 0px var(--default-colour-10);
  -moz-box-shadow: 0px 2px 12px 0px var(--default-colour-10);
  box-shadow: 0px 2px 12px 0px var(--default-colour-10);

  color: var(--default-colour-15);
  font-family: var(--font-family), sans-serif;
  letter-spacing: 2px;

  z-index: 20;
}

.navbar_header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.navbar_header img {
  width: 70px;
}

.navbar_links {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: capitalize;
}

.navbar_links h3 {
  margin: 0 2em;
}

.navbar_login,
.navbar_login_popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_login_popup {
  margin-top: 1em;
}

.navbar_login a,
.navbar_login_popup a {
  text-decoration: none;
  font-weight: 800;
  color: var(--default-colour-15);
}

.navbar_login-link {
  padding: 0 0.5em;
}

.navbar_login button,
.navbar_login_popup button {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 16px;
  color: var(--default-colour-15);
  letter-spacing: 2px;
}

.navbar_login-link_button {
  border: none;
  outline: none;
  background: var(--default-gradient);
  border-radius: 20px;
  padding: 0.1em 1em;
  transition: 0.5s;
  cursor: pointer;
}

.navbar_login-link_button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.navbar_toggle_menu {
  display: none;
  height: 20px;

  color: var(--default-colour-15);
  cursor: pointer;

  font-size: 20px;
  transition: 0.5s;
}

.navbar_toggle_menu:hover {
  color: var(--default-colour-15);
  font-size: 20px;
  transform: rotate(90deg);
  transition: 0.5s;
}

.navbar_popup_menu {
  min-width: 150px;
  position: absolute;
  top: 48px;
  right: 0;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 2rem;
  margin-top: 1rem;

  text-align: center;
  background-color: var(--default-colour-11);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.navbar_popup_menu h3 {
  border-bottom: solid 2px var(--default-colour-1);
}

@media screen and (max-width: 900px) {
  .navbar_toggle_menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar_links {
    display: none;
  }

  .navbar_login {
    margin-left: 15%;
  }

  .navbar_popup_menu {
    display: flex;
  }

  .navbar_login_popup {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .navbar_toggle_menu {
    display: block;
  }

  .navbar_links,
  .navbar_login {
    display: none;
  }

  .navbar_popup_menu {
    display: flex;
  }

  .navbar_login_popup {
    display: block;
  }
}
