:root {
  --default-colour-1: rgb(163, 117, 246);
  --default-colour-2: rgb(15, 15, 15);
  --default-colour-3: rgb(245, 245, 245);
  --default-colour-4: rgb(115, 30, 251);
  --default-colour-5: rgb(104, 70, 197);
  --default-colour-6: rgb(65, 65, 70);
  --default-colour-7: rgb(28, 28, 28);
  --default-colour-8: rgb(37, 37, 37);
  --default-colour-9: rgb(150, 150, 150);
  --default-colour-10: rgb(216, 51, 51);
  --font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: url("./resources/wersja\ 2.png");
  background-size: cover;
}

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--default-colour-6);
  border-radius: 5px;
}
