@keyframes slide-left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

.Sidepanel_main {
  height: 100%;
  min-width: 100px;
  min-height: 200px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-right: solid 1px black;
}

.Sidepanel_navbar {
  height: 100%;
  width: 15%;
  max-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: var(--default-colour-11);
  z-index: 20;

  flex-grow: 1;
}

.Sidepanel_navbar-button {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;

  background-color: var(--default-colour-13);
  border-radius: 50%;

  margin: 1em 0;
  font-size: 20px;
  color: var(--default-colour-15);
  transition: 0.5s;

  cursor: pointer;
}

.selected {
  background: var(--default-gradient);
  border-radius: 10px;
}

.Sidepanel_navbar-button:hover {
  border-radius: 10px;
  transform: scale(1.1);
  transition: 0.5s;
}

.Sidepanel_navbar-footer {
  width: 60%;
  height: 0.1em;

  background-color: var(--default-colour-3);
}

.default-block {
  width: 100%;
  max-width: 400px;
  height: 100%;

  border-right: solid black 1px;

  background: var(--default-colour-12);
}

@media screen and (max-width: 900px) {
  .Sidepanel_main {
    width: 100px;
  }

  .default-block {
    width: calc(100% - 100px);
    margin-left: 100px;
    margin-top: 60px;
    position: fixed;

    z-index: 30;

    animation: slide-left 0.4s;
  }
}
